@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

::selection {
    background-color: #f8f9fa;
}

.logo {
    width: 200px;
    padding: .5rem 0;
}

header {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5rem;
}

header ul li a:hover, header ul li a.active {
    border: 1px solid #f8f9fa;
    border-radius: 1rem;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.backgroundFilterMiami {
    position: absolute;
    width: 194.44%;
    transform: translate(-50%, -50%);
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
    pointer-events: none;
}

.parallax {
    pointer-events: none;
    transition: 2s cubic-bezier(.2,.49,.32,.99);
}

.text {
    position: absolute;
    z-index: 2;
    top: calc(50% - 90px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #f8f9fa;
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 4.5rem;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.5;
}

.miamiBgFilter {
    position: absolute;
    width: 129.16%;
    top: 56.79%;
    left: 50%;
    z-index: 3;
    pointer-events: none;
    transform: translate(-50%, 100vh);
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
}

header ul {
    margin: 0;
}

.main-content {
    padding: 2rem;
}

.row .iconTitle {
    width: 3rem;
    height: auto;
}

.main-content .title, .section-galerie .galerie .textGalerie h3 {
    font-family: "Bebas Neue", sans-serif;
}

.main-content .iconP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 2rem;
}

.illustration {
    max-width: 100%;
    height: auto;
}

.main-content .iconP::after, .main-content .iconP::before {
    content: "";
    display: block;
    background: #000;
    width: 50px;
    height: .01rem;
}

.allData {
    justify-content: space-evenly;
}

::-webkit-scrollbar {
    width: 0;
}

.boxIcon {
    border-radius: .5rem;
    width: 48px;
    height: 48px;
    background-position: 50%;
    background-image: linear-gradient(310deg, #2e3236, #23282d);
    text-align: center !important;
    box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12) !important;
}

.boxIcon img {
    width: 100%;
    height: auto;
    padding: .5rem;
    filter: invert(100%) sepia(5%) saturate(20%) hue-rotate(277deg) brightness(107%) contrast(100%);
}

.allData .card {
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
}

.data .row {
    height: 100%;
    align-items: center;
}

.temperature small {
    display: flex;
    gap: .5rem;
}

.boxIcon img.weather {
    padding: 0;
}

.temperature small img {
    width: .8rem;
}

.temperature small .min-temp {
    color: #ff2954;
}

.temperature small .max-temp {
    color: #24ff6d;
}

.data p {
    white-space: nowrap;
}

.allData {
    gap: 3rem;
}

.mini-card {
    width: 100%;
    height: 5rem;
}

.mini-card .allData {
    margin-top: -28px;
    z-index: 9999;
    position: relative;
}

p:has(.more) {
    padding-top: 1rem;
}

.more {
    text-decoration: none;
    background-color: #23282d;
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: #f8f9fa;
    border: 2px solid #23282d;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .8rem;
    width: 11rem;
    justify-content: center;
}

.more:hover {
    background-color: #f8f9fa;
    color: #23282d;
}

.location {
    padding-bottom: 3rem;
}

.location p {
    text-align: justify;
}

.location a img {
    width: .8rem;
    filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(165deg) brightness(118%) contrast(108%);
}

.location a:hover img{
    filter: none;
}

.scrollToTop {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 30px;
    right: 30px;
    background-color: #f8f9fa;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8f9fa;
}

.scrollToTop img {
    filter: invert(11%) sepia(24%) saturate(414%) hue-rotate(169deg) brightness(91%) contrast(88%);
}

.second-content {
    background-color: #f3f2f3;
}

.titleVignette {
    background-color: #23282d;
    color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    padding: .25rem 2rem;
    padding-left: 400px;
    transform: translate(-290px, -50%);
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: .5rem;
    font-family: 'Poppins', sans-serif;
}

footer img {
    width: 100%;
    object-fit: cover;
}

footer .content-footer {
    background-color: #23282d;
}

footer .content-footer p {
    text-align: center;
}

footer .content-footer .copyright {
    padding-bottom: 1rem;
    color: #f8f9fa;
    margin: 0;
}

footer .content-footer .lienFooter {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .content-footer .lienFooter a {
    border: 1px solid #f8f9fa;
    border-radius: 100%;
    padding: .5rem;
    display: flex;
}

footer .content-footer .lienFooter a:hover {
    background-color: #f8f9fa;
}

footer .content-footer .lienFooter a:hover img {
    filter: invert(14%) sepia(14%) saturate(551%) hue-rotate(169deg) brightness(94%) contrast(94%);
}

footer .content-footer .lienFooter img {
    width: 20px;
    height: 20px;
    filter: invert(92%) sepia(37%) saturate(2%) hue-rotate(215deg) brightness(107%) contrast(100%);
}

footer {
    padding-top: 2rem;
}

.imgParallax.Miami {
    background-image: url(../img/Miami/miamiParallaxImg.jpg);
}

.imgParallax.Miami {
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.imgParallax .citation {
    height: 100%;
    background-color: rgba(248, 249, 250, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgParallax .citation p {
    margin: 0 3rem;
    font-size: 1.5rem;
    font-family: "Gwendolyn", cursive;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.imgParallax .citation p .auteur {
    text-align: end;
    font-size: 2rem;
    font-weight: bold;
}

.quote {
    position: absolute;
    top: -25px;
    background-color: #23282d;
    border-radius: 100%;
    left: 20px;
}

.quote img {
    filter: invert(92%) sepia(37%) saturate(2%) hue-rotate(215deg) brightness(107%) contrast(100%);
    width: 40px;
    margin: .5rem;
}

.section-galerie .galerie .midImage .image, .section-galerie .galerie .grandeImage .image {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.section-galerie .galerie .midImage .image img, .section-galerie .galerie .grandeImage .image img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.section-galerie .galerie {
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.section-galerie .galerie .grandeImage {
    grid-column: 1 / 3;
    height: 210px;
    position: relative;
}

.section-galerie .galerie .midImage {
    position: relative;
    grid-column: 1 / 3;
    height: 210px;
}

.main-content.secondContent .iconP {
    padding-bottom: 0;
    margin: 0;
}

.section-galerie .galerie .textGalerie {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(0, 0, 0, .6);;
}

.section-galerie .galerie .textGalerie .more {
    border: 2px solid #f8f9fa;
}

.section-galerie .galerie .textGalerie .more:hover {
    border: 2px solid #23282d;
    background-color: #f8f9fa;
    color: #23282d;
}

.section-galerie .galerie .image {
    position: relative;
}

.section-galerie .galerie .midImage:hover .textGalerie, .section-galerie .galerie .grandeImage:hover .textGalerie {
    display: flex;
}

.section-galerie .galerie .textGalerie h3, .section-galerie .galerie .textGalerie a {
    color: #f8f9fa;
}

.section-galerie .galerie .textGalerie h3 {
    font-size: 2rem;
}