@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

::selection {
    background-color: #ffffff7e;
}

.logo {
    width: 200px;
    padding: .5rem 0;
}

header {
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    padding: .5rem;
}

header ul li a:hover {
    border: 1px solid #fff;
    border-radius: 1rem;
}

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.backgroundFilterMiami {
    position: absolute;
    width: 194.44%;
    transform: translate(-50%, -50%);
    top: 1.86%;
    left: 50.69%;
    z-index: 1;
    pointer-events: none;
}

.parallax {
    pointer-events: none;
    transition: 2s cubic-bezier(.2,.49,.32,.99);
}

.text {
    position: absolute;
    z-index: 2;
    top: calc(50% - 90px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 4.5rem;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.5;
}

.miamiBgFilter {
    position: absolute;
    width: 129.16%;
    top: 56.79%;
    left: 50%;
    z-index: 3;
    pointer-events: none;
    transform: translate(-50%, 100vh);
}

.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    pointer-events: none;
}

header ul {
    margin: 0;
}

.main-content {
    padding: 2rem;
}

.allData .meteo {
    background-image: linear-gradient(310deg, #2e3236, #23282d);
    background-size: cover;
    border-radius: 1rem;
    padding: 1.5rem;
    color: #fff;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
}

.meteo h1 {
    text-transform: uppercase;
    font-weight: 500;
}

div.h1.temperature small span{
    font-size: 1rem;
}

.meteo h2 {
    font-size: 50px;
}

.row .iconTitle {
    width: 3rem;
    height: auto;
}

.main-content .title, section.black .title{
    font-family: "Bebas Neue", sans-serif;
}

.main-content .iconP {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 2rem;
}

.illustration {
    max-width: 100%;
    height: auto;
}

.main-content .iconP::after, .main-content .iconP::before {
    content: "";
    display: block;
    background: #000;
    width: 50px;
    height: .01rem;
}

.prevMeteo {
    display: flex;
    overflow-x: auto;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.allData {
    justify-content: space-evenly;
}

::-webkit-scrollbar {
    width: 0;
}

.boxIcon {
    border-radius: .5rem;
    width: 48px;
    height: 48px;
    background-position: 50%;
    background-image: linear-gradient(310deg, #2e3236, #23282d);
    text-align: center !important;
    box-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12) !important;
}

.boxIcon img {
    width: 100%;
    height: auto;
    padding: .5rem;
    filter: invert(100%) sepia(5%) saturate(20%) hue-rotate(277deg) brightness(107%) contrast(100%);
}

.allData .card {
    border-radius: 1rem;
    border: 0;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
}

.data .row {
    height: 100%;
    align-items: center;
}

div.h1.temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.h1.temperature span {
    font-size: 4rem;
}

.weather-description {
    font-size: 1.2rem;
    text-transform: capitalize;
    white-space: nowrap;
}

#iconDay #wicon {
    width: 4rem;
}

#iconPrev {
    width: 4rem;
}

.prevMeteo li {
    text-align: center;
    border-right: 1px solid rgb(255 255 255 / 25%);
}

.prevMeteo li:nth-child(5) {
    border-right: 0;
}

.prevMeteo li p {
   margin-bottom: 0;
}

.prevMeteo li p, .prevMeteo li h3 {
    margin: 0 .5rem;
}

.temperature small {
    display: flex;
    gap: .5rem;
}

.boxIcon img.weather {
    padding: 0;
}

.temperature small img {
    width: .8rem;
}

.temperature small .min-temp {
    color: #ff2954;
}

.temperature small .max-temp {
    color: #24ff6d;
}

.red {
    color: #ff2954;
}

.green {
    color: #24ff6d;
}

.data p {
    white-space: nowrap;
}

section.black {
    background-color: #23282d;
}

section.black p, section.black h1 {
    color: #fff;
}

section.black.container, section.white.container {
    max-width: 100%;
    margin-top: 3rem;
}

.allData {
    gap: 3rem;
}

.mini-card {
    width: 100%;
    height: 5rem;
}

.mini-card .allData {
    margin-top: -28px;
    z-index: 9999;
    position: relative;
}

p:has(.more) {
    padding-top: 1rem;
}

.more {
    text-decoration: none;
    background-color: #23282d;
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: #f8f9fa;
    border: 2px solid #23282d;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .8rem;
    width: 11rem;
    justify-content: center;
}

.more:hover {
    background-color: #f8f9fa;
    color: #23282d;
}

.location {
    padding-bottom: 3rem;
}

.location p {
    text-align: justify;
}

.location a img {
    width: .8rem;
    filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(165deg) brightness(118%) contrast(108%);
}

.location a:hover img{
    filter: none;
}

.scrollToTop {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 30px;
    right: 30px;
    background-color: #f8f9fa;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollToTop img {
    filter: invert(11%) sepia(24%) saturate(414%) hue-rotate(169deg) brightness(91%) contrast(88%);
}